/**
 * @author Virtusa
 */
package {{package}};

import org.springframework.stereotype.Service;
import org.bian.dto.*;
import org.bian.util.JsonReader;

{{#operations}}
@Service
public class {{classname}}ServiceImpl implements {{classname}}Service {

{{#operation}}
{{#vendorExtensions}}
 {{#actionTerms}}
  {{#initiate}}
	public {{returnType}} {{{actionTermCamelCase}}}(String crReferenceId, {{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/initiate}}
  {{#create}}
	public {{returnType}} {{{actionTermCamelCase}}}(String crReferenceId, {{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/create}}
  {{#activate}}
	public {{returnType}} {{{actionTermCamelCase}}}(String crReferenceId, {{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/activate}}
  {{#register}}
	public {{returnType}} {{{actionTermCamelCase}}}(String crReferenceId, {{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/register}}
  {{#configure}}
	public {{returnType}} {{{actionTermCamelCase}}}({{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/configure}}
  {{#update}}
	public {{returnType}} {{{actionTermCamelCase}}}(String crReferenceId{{#behavioralQualifier?}}, String bqReferenceId{{/behavioralQualifier?}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/update}}
  {{#record}}
	public {{returnType}} {{{actionTermCamelCase}}}(String crReferenceId{{#behavioralQualifier?}}, String bqReferenceId{{/behavioralQualifier?}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/record}}
  {{#execute}}
	public {{returnType}} {{{actionTermCamelCase}}}(String crReferenceId{{#behavioralQualifier?}}, String bqReferenceId{{/behavioralQualifier?}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/execute}}
  {{#evaluate}}
	public {{returnType}} {{{actionTermCamelCase}}}(String crReferenceId{{#behavioralQualifier?}}, String bqReferenceId{{/behavioralQualifier?}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/evaluate}}
  {{#provide}}
	public {{returnType}} {{{actionTermCamelCase}}}(String crReferenceId{{#behavioralQualifier?}}, String bqReferenceId{{/behavioralQualifier?}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/provide}}
  {{#authorize}}
	public {{returnType}} {{{actionTermCamelCase}}}(String crReferenceId{{#behavioralQualifier?}}, String bqReferenceId{{/behavioralQualifier?}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/authorize}}
  {{#request}}
	public {{returnType}} {{{actionTermCamelCase}}}(String crReferenceId{{#behavioralQualifier?}}, String bqReferenceId{{/behavioralQualifier?}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/request}}
  {{#terminate}}
	public {{returnType}} {{{actionTermCamelCase}}}(String crReferenceId{{#behavioralQualifier?}}, String bqReferenceId{{/behavioralQualifier?}}){
{{>serviceImplJson}}
	}
	
  {{/terminate}}
  {{#notify}}
	public {{returnType}} {{{actionTermCamelCase}}}(String crReferenceId{{#behavioralQualifier?}}, String bqReferenceId{{/behavioralQualifier?}}, {{#bodyParam}}{{baseType}}{{/bodyParam}} request){
{{>serviceImplJson}}
	}
	
  {{/notify}}
  {{#retrieve}}
	public {{returnType}} {{{actionTermCamelCase}}}(String crReferenceId{{#behavioralQualifier?}}, String bqReferenceId{{/behavioralQualifier?}}){
{{>serviceImplJson}}
	}
	
  {{/retrieve}}
 {{/actionTerms}}
{{/vendorExtensions}}
{{/operation}}
}
{{/operations}}
